@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');

@font-face {
  font-family: 'icones';
  src: url(icones.ttf);
}

*, body, nav a, .container-fluid a, .social-media h2{
  font-family: 'Crete Round', serif;
}

/* HEADER */

header{
    background-color:#1d7151;
    font-family: 'Crete Round', serif;
}

.caixa{
    display: flex;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
    font-family: 'Roboto Slab', serif;
}

.mainlogo{
  max-width: 100%;
  width: 150px;
}

.caixa__navsearch{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 85%;
  padding-top: 1em;
  margin-right: -35px;;
}



nav ul{
  display: flex;
}

nav a{
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    padding-left: 2em;
}

.womanicon{
  width: 40px;
  height: 40px;
}

/* MAIN FIRST PART */

.barra-contatos{
  display: flex;
  background-color: #ffa500;
  justify-content: center;
}



.barra-contatos ul{
  display: flex;
  padding: 20px 0px;
}


.barra-contatos li{
  padding: 0px 50px;
}

.barra-contatos a{
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  flex-direction: row;
}

.legend{
  padding: 2em ;
  text-align: left;
  line-height: 1.5;
  margin: 15px;
  font-size: 15px;
}

.aboutus{
  padding: 3em;
}

.itens-aboutus{
  display: flex;
  padding: 1em;
}

.titulos-diferent{
  color: #000000;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}

.itens-boardvision{
  padding: 2em;
}

.itens-boardvision p{
  text-align: center;
  line-height: 1.5;
  margin: 15px;
  font-size: 15px;
}


.d-block w-100{
  max-width: 100%;
  height: 500px;
  object-fit: contain;
} 



/* Dropdown menu */
.dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown--ativo{
  transition: 0.2s;
}


/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 186px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #2a8518;}


.carousel{
  display: flex;
  justify-content: center;
  position: relative;
}

.carousel-inner{
  position: relative;
  width: 58%;
  overflow: hidden;
}

/* Slideshow container */
.slideshow-container {
  max-width: 50%;
  position: relative;
  /* margin: auto; */
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Caption text */
/* .text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
} */

/* The dots/bullets/indicators */
.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.beneficios{
  padding: 3em 0;
}

.titulos{
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.service{
  padding: 2em 0em;
}

.service ul{
  display: flex;
  justify-content: space-around;
  padding: 3em 0em;
  margin: 20px 0;
}

.service li{
  align-items: center;
  padding: 0px 50px;
  box-sizing: border-box;
  border-radius: 10px;
}


.li-darkblue{
  background-color: #180c4d;
  width: 20%;
  text-align: center;
}

.li-green{
  background-color: #2a8518;
  width: 20%;
  text-align: center;
}

.li-blue{
  background-color: #347afc;
  width: 20%;
  text-align: center;
}

.li-pink{
  background-color: #97115f;
  width: 20%;
  text-align: center;
}

.description{
  padding: 2em 0;
  color: #ffffff;
  line-height: 1.5;
  font-weight: bold;
}

.benefits li{
  padding: 1em 0;
  color: #f1f1f1;
  list-style-type: disc;
  text-align: left;
}

/* THIRD PART MAIN */


/* ANALISE */
.callofaction{
  display: flex;
  height: 60%;
  padding: 2em;
  box-sizing: border-box;
  justify-content: center;
}

.containers{
  display: flex;
  background-color: #180c4d;
}
.card__container{
  height: 40%;
  background-color: #2a2738;
  padding: 25%;
  width: 80vw;
  display: grid;
  align-content: center;
}

.containers__womanimg{
  height: 322px;
  width: 603px;
}

.container__texto{
  text-align: center;
  padding: 2em;
  line-height: 1.5;
}

.title__doation{
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
}

.descripitions__doation{
  color: #ffffff;
}

.descripitions__doation strong{
  color: #ffa500;
  font-weight: bold;
}

.btn-warning {
  color: #000;
  background-color: #ffc107;
  border-color: #ffc107;
  margin-top: 1em;
}




hr{
  margin: 1em 0;
}

.buttonforbuy{
  padding: 5px 6px;
  color: #f1f1f1;
  font-family: 'Crete Round', serif;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
  background: #3f3f3f;

}

.buttonforbuy :hover{
  background: #000000;
}


.card-body button{
  margin: 1em;
}
.column{
  display: flex;
  flex-direction: row;
}

.explanation{
  padding: 3em 0;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 5px solid #000000;
  border-radius: 0.25rem;
  text-align: center;
}

/* .card mb-3{
  max-width: 540px;
  padding: 2em;  
  margin: 26em;
} */

footer{
  display: flex;
  background-color:#1d7151;
  font-family: 'Crete Round', serif;
}

.footer-itens{
  font-family: 'Roboto Slab', serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0px;
}

.social-media-list{
  display: flex;
}

.container-fluid li{
  padding: 10px;
}


.container-fluid a{
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.social-media h2{
  color: #ffffff;
  padding: 0 0 0 6px;
  font-weight: bold;
}

/* MOBILE PART*/
@media screen and (max-width: 550px) {

  nav a{
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 9px;
    padding-left: 2em;
  }

  .input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 97%;
    padding-top: 1em;
    margin-right: -35px;
  }

  .input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    margin-left: -7px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .titulos{
    color: #000000;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
  }

  .titulos-diferent {
    color: #000000;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
  }

  .caixa .barra-contatos{
    width: auto;
  }

  /* FIRST PART MAIN */

  .legend {
    padding: 2em;
    text-align: center;
    line-height: 1.5;
    margin: 15px;
    font-size: 15px;
  }

  .barra-contatos ul{
    flex-direction: column;
  }

  .barra-contatos li{
    padding: 15px;
  }

  .imgaboutus{
    width: 100%;
    height: 12rem;
  }

  .itens-aboutus{
    display: inline-block;
    padding: 1em ;
  }

  .carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  .service ul {
    padding: 3em 0em;  
    display: block;
  }

  .service li {
    width: 85%;
    margin: 20px 35px;
    padding: 20px 6px;
    border-radius: 5%; 
  }

  hr{
    margin: 20px 25px;
  }

  .containers__womanimg {
    height: 322px;
    width: 310px;
}
  
.container__img {
  display: flex;
  padding: 2em 1em 0;
  justify-content: center;
}
  .containers {
    display: block;
    background-color: #180c4d;
    margin: 15px;
  }
}