*{
    font-family: 'Roboto Slab', serif;
}

header{
    background-color:#2a8518;
}



.caixa{
    display: flex;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
    font-family: 'Roboto Slab', serif;
}


nav a{
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

.barra-contatos{
  display: flex;
  background-color: #bdb8b8;
  justify-content: center;
}

.barra-contatos ul{
  display: flex;
  padding: 20px 0px;
}


.barra-contatos li{
  padding: 0px 50px;
}

.barra-contatos a{
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  flex-direction: row;
}

.video-inside{
  align-items: center;
}

.texte-video{
  display: flex;
  justify-content: center;
}

.video-inside p{
  padding: 20px 0px;
}

.imagenscarrosel{
  max-width: 100%;
  width: 500px;
  height: 500px;
  object-fit: contain;
}



/* Dropdown menu */
.dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #2a8518;}


.carrosel{
  display: flex;
  justify-content: center;
  padding: 20px 0px;
}

/* Slideshow container */
.slideshow-container {
  max-width: 50%;
  position: relative;
  /* margin: auto; */
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Caption text */
/* .text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
} */

/* The dots/bullets/indicators */
.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.beneficios{
  padding: 3em 0;
}

.titulos{
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}


.itens-video-inside{
  display: flex;
  padding: 3em;
}

.legend{
  align-items: center;
  text-align:left;
  line-height: 1.5;
  margin: 15px;
  font-size: 15px;
}


.service ul{
  display: flex;
  justify-content: space-around;
  padding: 3em 0em;
  margin: 20px 0;
}

.service li{
  display: flex;
  align-items: center;
  padding: 0px 50px;
  box-sizing: border-box;
  border-radius: 5%;
}

.li-darkblue{
  background-color: #180c4d;
  width: 20%;
  text-align: center;
}

.li-green{
  background-color: #2a8518;
  width: 20%;
  text-align: center;
}

.li-blue{
  background-color: #347afc;
  width: 20%;
  text-align: center;
}

.li-pink{
  background-color: #97115f;
  width: 20%;
  text-align: center;
}

.description{
  padding: 5px 0;
  color: #ffffff;
}

/* THIRD PART MAIN */




footer{
  background-color: #23135a;
}

.footer-itens{
  font-family: 'Roboto Slab', serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0px;
}

.social-media-list{
  display: flex;
}

.container-fluid li{
  padding: 10px;
}


.container-fluid a{
  
  text-decoration: none;
  color: white;
}

.social-media h2{
  color: #ffffff;
  padding: 0 0 0 6px;
}